@font-face {
  font-family: 'Avenir';
  src: url('fonts/avenir_ff/AvenirLTStd-Roman.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Bold';
  src: url('fonts/avenir_ff/AvenirLTStd-Black.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Font/Gotham-Light.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('fonts/Gotham-Font/GothamBook.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'Helveica';
  src: url('fonts/Helveica/Helvetica.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'MonoLisa';
  src: url('fonts/MonoLisa/MonoLisa-Regular.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'MonoLisa-Bold';
  src: url('fonts/MonoLisa/MonoLisa-Bold.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'Linotte';
  src: url('fonts/Linotte/Linotte-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Linotte-Bold';
  src: url('fonts/Linotte/Linotte-Bold.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'Linotte-Light';
  src: url('fonts/Linotte/Linotte-Light.woff2') format('woff2');
  font-style: normal;
}